includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    level: 9
    paths:
        - src/
    excludePaths:
        analyseAndScan:
            - src/testing/
    treatPhpDocTypesAsCertain: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportWrongPhpDocTypeInVarTag: true
    reportAlwaysTrueInLastCondition: true
    reportStaticMethodSignatures: true
    reportUnmatchedIgnoredErrors: false
    checkUninitializedProperties: true
    checkImplicitMixed: true
    #checkMissingOverrideMethodAttribute: true
    tipsOfTheDay: false