<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap = "src/public/console.php"
         colors="true"
         cacheDirectory="vendor/phpunit/.phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         addUncoveredFilesFromWhitelist="false">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/testing</directory>
        </exclude>
    </source>
</phpunit>