name: PHPUnit
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macOS-latest]
        php-versions: ['8.3']
    name: Run PHPUnit with PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@2.31.1
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring
          tools: phpunit:11.4
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Run PHPUnit
        run: phpunit